<html>
  <head>
  	<meta charset="utf-8">
    <!-- Set the viewport so this responsive site displays correctly on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vouch</title>
  	<script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>  
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    	<div class="container">
       		<!-- add header -->
        	<div class="navbar-header">
            	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar1">
                	<span class="sr-only">Toggle navigation</span>
                	<span class="icon-bar"></span>
                	<span class="icon-bar"></span>
                	<span class="icon-bar"></span>
            	</button>
            	<a class="navbar-brand topnav" href="/" id="center-nav"><img id="logo" src="images/vouchlogo.png" class="img-responsive"></a>
            	<a class="navbar-brand topnav" align="left" href="addNew.html"><button type="button" class="btn-sm"><span class="glyphicon glyphicon-plus"></span></button></a>
        	</div>
        	<!-- add menu -->
        	<div class="collapse navbar-collapse" id="navbar1">
            	<ul class="nav navbar-nav navbar-right">
                	<li><a href="login.html">Log In</a></li>
            	</ul>
            <!-- add search form -->
            <form class="navbar-form navbar-right" role="search">
                 <div id="imaginary_container"> 
                	<div class="input-group stylish-input-group">
                    	<input type="text" class="form-control"  placeholder="Search" >
                    	<span class="input-group-addon">
                        	<button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        	</button>  
                    	</span>
                	</div>
            	</div>
            </form>
        	</div>
    	</div>
	</nav>

    <div class="container-fluid">
    	<div class="row" id="buffer"></div>
		<div class="row top-buffer"> 
		  	<div class="col-md-4"> 
		  	</div>
        </div>
	  	</div>
	  	<div class="row" id="small-buffer"></div>
	  	<div class="row">
		  	<div class="col-md-2"> 
		  		<p>Filter</p>
				<form>
					<div class="radio">
				      <label><input type="radio" name="optradio" id="mostPopular">Most Popular</label>
				    </div>
				    <div class="radio">
				      <label><input type="radio" name="optradio" id="mostRecent" disabled>Most Recent</label>
				    </div>
				    <div class="radio">

				      <label><input type="radio" name="optradio" disabled>Least Distance</label>
				    </div>
				</form>
				<p>Categories</p>
				<div class="checkbox">
  					<label><input type="checkbox" class="check" id="checkAll" disabled>All</label>
				</div>
				<div class="checkbox">
  					<label><input type="checkbox" class="check" disabled>Restaurants</label>
				</div>
				<div class="checkbox">
  					<label><input type="checkbox" class="check" disabled>Events</label>
				</div>
				<div class="checkbox">
  					<label><input type="checkbox" class="check" disabled>Groceries</label>
				</div>
				<div class="row" id="help-buttons">
					<a href="support.html"><button type="button" class="btn btn-default btn-success inline">Support</button></a>
		  		</div>
		  		<div class="row" id="help-buttons">
		  			<a href="faq.html"><button type="button" class="btn btn-default btn-success">FAQ</button></a>
		  		</div>
		  		<div class="row" id="help-buttons">
		  			<a href="contact.html"><button type="button" class="btn btn-default btn-success">Contact Us</button></a>
		  		</div>
	  		</div>
		  	<div class="col-sm-8" align = "middle"> 
		      	<!-- This is where the image used to be  
				<a href="dealView.html">
		      		<img src="images/exampleDeal.png" alt="HTML5 icon" class="img-responsive">
		      	</a>
				-->
		    <div id="deal-container">
	  		{{#each deal}}
				<a id="deals" href="{{Place}}">
				<p id="newDeals">{{Place}} is the place <br> {{Deal}} is the deal <br> {{Upvote}} is the upvote </p>
				</a>
		    {{/each}}
		    </div>
		    </div>
		    <div class="col-sm-2" align="right" id="margin-right-align"> 
		    	<!-- <p>720 vouches {{test}} </p> -->
		    </div>
	  	</div>
    </div>
    <script src="js/vouch.js"></script>
  </body>
</html>